body {
    background-image: url("https://i.imgur.com/7xnHhUt.jpg");
}

.headerText {
    text-align: center;
}

.catzText {
    text-align: center;  
}

.hidden {
    display: none;
}

.cat-card {
    background-color: #FBFCFF;   
    width: 300px;
    height: 400px;
}

.cat-card img {
    padding-top: 10px;
}




